<!DOCTYPE html>
<html>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/my.css">
<head>
  <title>Slide Matcher</title>
</head>
<body >
  <script src="../static/js/my.js"></script>

  <div class="file_uploader">

    <h1 style="background-color : #990000; width : 500px; color : white;">Slide Matcher</h1>
    <form action="upload" method="post" enctype="multipart/form-data">

    <div>
      <p>
        <h2>Link to video:
        <input type="file" name="video">
      </h2>
      </p>
      <p>
      <h2>Link to slides:
        <input type="file" name="slides">
      </h2>
      </p>

        <input type="submit" value="Upload">

    </div>

    </form>
  </div>

</body>
</html>